
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;

/* --- Body Styels ---  */

}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    align-items: center;
}
.banner{
    height: calc(100vh -80px);
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.banner-left h1{
    font-size: 45px;
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.banner-right img{
    width: 70%;
}
.button{
    background-color: rgb(78, 78, 78);
    color:#fff;
    padding:10px 20px;
    border-radius: 30px;
    text-decoration: none;
    }
    .button .right_arrow{
        font-size:18px;
        color:#fff;
        margin-left:5px;
        margin-bottom:-3px;
    }
.brand{
    padding: 50px 0;
}
.brand .brand-logo{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    align-items: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg,#1413140e,#47293452,#bdafb40e);
    border-image-slice: 1;
}
.brand img{
    max-width: 100px;
}
.mobile{
    display: none;
}

/*--- Second section style  ---*/
.all-product{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.all-product .single-product{
    box-shadow: 0px 5px 42px black;
    padding: 20px;
    border-radius: 10px;
}
.single-product img{
    width: 100%;
}
.product-details{
    font-size: 15px;
}
.price{
    font-size: 20px;
}
.product-details{
    list-style: none;
    color: cornflowerblue;
}
.last-button{
    margin-top: 25px;
    text-align: right;
}
.see-more{
    background-color: transparent;
    color: rgb(39, 38, 38);
    font-size: 24px;
    text-decoration: none;
}

/* Extra part   */
#extra-part{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 30px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
}
.copy-write{
    text-decoration: none;
}
.copy-write p a{
    color: white;
}
a{
    color: white;
}


/* --
        Media Queries
 --*/

 @media only screen and (min-width:375px) and (max-width: 870px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .banner{
       flex-wrap: wrap;
    }
 .banner-left{
     order: 2;
    padding-right: 30px;
    padding-top: 25px;
    text-align: center;
 }
 .banner-right{
     order: 1;
     
 }
 .brand .brand-logo{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-gap: 30px;
     align-items: center;
 }
 .all-product{
     grid-template-columns: repeat(2,1fr);
 }
 #extra-part .banner-left{
    display: none;
}
#extra-part .banner-right{
    width: 300px;
}
 
}